<h1>Admin Page</h1>
<h3>...where amazing things happen...</h3>

<h4>Unassigned Users</h4>
<% @users.each do |user| %>
	<% if user.type == nil %>
		<p>
			<%= user.email %>
		</p>

		<%= form_for(user) do |f| %>
			<div class="field">
    			<%= f.label :type %><br>
    			<%= f.text_field :type %>
  			</div>
  			<div class="actions">
    			<%= f.submit %>
  			</div>
		<% end %>
	<% end %>
<% end %>


<h4>Classes</h4>
<% @groups.each do |group| %>
	<p>
		<%= link_to group.title, group %>
	</p>

<% end %>
<%= link_to 'Create a New Class', new_group_path %>

<h4>Students</h4>
<% @students.each do |student| %>
	<p>
		<%= student.email %>
	</p>
<% end %>

<h4>Teachers</h4>
<% @teachers.each do |teacher| %>
	<p>
		<%= teacher.email %>
	</p>
<% end %>

<%= link_to 'Home', root_path %>

