<h1>Admin Page<small>...where amazing things happen...</small></h1>

<% if any_unassigned_users? %>
	<%= render('layouts/unassigned_users') %>
<% end %>

<div class="row">
	<div class="col-md-4">
		<h4>Classes</h4>
		<% @groups.each do |group| %>
			<p>
				<%= link_to group.title, group %>
			</p>

		<% end %>
		<%= link_to 'Create a New Class', new_group_path, class: "btn btn-default" %>
	</div>
	<div class="col-md-4">
		<h4>Students</h4>
		<% @students.each do |student| %>
			<p>
				<%= link_to student do %>
					<%= student.full_name %>
				<% end %>

				<%= student.email %>
			</p>
		<% end %>
	</div>
	<div class="col-md-4">
		<h4>Teachers</h4>
		<% @teachers.each do |teacher| %>
			<p>
				<%= link_to teacher do %>
					<%= teacher.full_name %>
					<%= teacher.email %>
				<% end %>
			</p>
		<% end %>
	</div>
</div>

