<p id="notice"><%= notice %></p>

<h3><%= @group.title %></h3>
<%= link_to "Edit", edit_group_path %>

<% if @group.teacher == nil %>
	<p>This class does not currently have a teacher.</p>
	
	<%= form_for @group do %>
		<%= collection_select(:group, :teacher_id, Teacher.all, :id, :full_name, {:prompt => "Select a teacher"}) %>
		<%= submit_tag "Update" %>
	<% end %>

<% elsif @group.teacher != nil %>
	<h4>
		Teacher: <%= link_to user_path @group.teacher do %>
			<%= @group.teacher.full_name %>
		<% end %>
	</h4>
	<%= form_tag unassign_teacher_path do %>
		<%= hidden_field_tag :group_id, @group.id %>
		<%= hidden_field_tag :teacher_id, @group.teacher.id %>
		<%= submit_tag "Unassign Teacher", data: { confirm: "Are you sure?" } %>
	<% end %>
	
<%end%>

<% if @group.students.count > 0 %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Students</h4>
		</div>
		<table class="table">
			<thead>
				<th>Name</th>
				<th>Email</th>
				<th>Classes</th>
			</thead>
			<tbody>
				<% @group.students.each do |student| %>
					<tr>
						<td>
							<%= link_to student do %>
								<%= student.full_name %>
							<% end %>
						</td>
						<td><%= student.email %></td>
						<td><%= student.groups.count %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>

<% unless @group.students.count > 0 %>
	<p>No Students! Add some:</p>
<% end %>

<%= form_tag add_student_path do %>
	<%= hidden_field_tag :group_id, @group.id %>
	<%= select_tag :student_id, options_from_collection_for_select(Student.all, :id, :full_name), include_blank: true %>
	<%= submit_tag "Add Student" %>
<% end %>

<%= link_to 'Back to Admin Page', admin_path %>
