<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @group.title %>
</p>

<p>
	<% @group.students.each do |student| %>
		<p>
			<%= student.first_name %>
			<%= student.last_name %>
			<%= student.email %>
		</p>
	<% end %>
</p>

<%= link_to 'Back', admin_path %>
