<p id="notice"><%= notice %></p>

<h3><%= @user.full_name %><small> <%= @user.email %></small></h3>

<p>
	Currently Assigned as a <%=@user.type%>
</p>
<p>
	Wrongly Assigned?
	<% if teacher? %>
		<%= form_tag assign_as_student_path do %>
			<%= hidden_field_tag :user_id, @user.id %>
			<%= submit_tag "Assign as a Student", data: { confirm: "Are you sure?" } %>
		<% end %>
	<% end %>
	<% if student? %>
		<%= form_tag assign_as_teacher_path do %>
			<%= hidden_field_tag :user_id, @user.id %>
			<%= submit_tag "Assign as a Teacher", data: { confirm: "Are you sure?" } %>
		<% end %>
	<% end %>
</p>

<% if @user.groups.count > 0 %>
	<p>
		Classes:<br>
		<% @user.groups.each do |group| %>
			<%= link_to group do %>
				<%= group.title %>
			<% end %>

			<%= form_tag remove_from_group_path do %>
				<%= hidden_field_tag :user_id, @user.id %>
				<%= hidden_field_tag :group_id, group.id %>
				<%= submit_tag "Remove from this class", data: { confirm: "Are you sure?" } %>
			<% end %>

		<% end %>
	</p>
<% else %>
	<p>This 
		<% if @user.type == "Teacher" %>
			teacher 
		<% elsif @user.type == "Student" %>
			student
		<% end %>
	has no classes.</p>
<% end %>

<p>Assign to 
<% if @user.groups.count > 0 %>
	Another Class:
<% else %>
	a Class
<% end %>
</p>

<%= form_tag assign_to_group_path do %>
	<%= hidden_field_tag :user_id, @user.id %>
	<%= select_tag :group_id, options_from_collection_for_select(Group.all, "id", "title"), include_blank: true %>
	<%= submit_tag "Assign to Class" %>
<% end %>

<%= link_to 'Back', admin_path %>
