<p id="notice"><%= notice %></p>

<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.email %><br>

<p>Assign to a Class:</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', admin_path %>
