<h2><%= @user.full_name %><small> <%= @user.email %></small></h2>

<h3>
	<% if @user.type == "Teacher" %>
		<span class="glyphicon glyphicon-apple" aria-hidden="true"></span><%= @user.type %>
	<% elsif @user.type == "Student" %>
		<span class="glyphicon glyphicon-education" aria-hidden="true"></span><%= @user.type %>
	<% end %>
</h3>
<p>
	<small>Wrongly Assigned?</small>
	<% if @user.type == "Teacher" %>
		<%= form_tag assign_as_student_path do %>
			<%= hidden_field_tag :user_id, @user.id %>
			<%= submit_tag "Assign as a Student", data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs" %>
		<% end %>
	<% elsif @user.type == "Student" %>
		<%= form_tag assign_as_teacher_path do %>
			<%= hidden_field_tag :user_id, @user.id %>
			<%= submit_tag "Assign as a Teacher", data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs" %>
		<% end %>
	<% end %>
</p>

<br>

<% if @user.groups.count > 0 %>
	<ul class="list-unstyled list-group">
		<h4>Classes:</h4>
		
		<% @user.groups.each do |group| %>
			<li class="list-group-item">
				<%= link_to group do %>
					<%= group.title %>
				<% end %>

				<%= form_tag remove_from_group_path do %>
					<%= hidden_field_tag :user_id, @user.id %>
					<%= hidden_field_tag :group_id, group.id %>
					<%= button_tag(type: "submit", class: "btn btn-default btn-xs", data: { confirm: "Are you sure?" }) do %>
		<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Remove from this class
	<% end %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>This 
		<% if @user.type == "Teacher" %>
			teacher 
		<% elsif @user.type == "Student" %>
			student
		<% end %>
	has no classes.</p>
<% end %>

<br>

<p>Assign to 
<% if @user.groups.count > 0 %>
	Another Class:
<% else %>
	a Class
<% end %>
</p>

<%= form_tag assign_to_group_path, class: "form-inline" do %>
	<%= hidden_field_tag :user_id, @user.id %>
	<%= select_tag :group_id, options_from_collection_for_select(Group.all, "id", "title"), include_blank: true, class: "form-control input-sm" %>
	<%= button_tag(type: "submit", class: "btn btn-default btn-sm") do %>
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Assign to Class
	<% end %>
<% end %>

<br>

<%= link_to admin_path, class: "btn btn-default" do %>
	<span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>Back
<% end %>
