<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :level %><br>
    <%= select :material, :level, options_for_select(['All', 'A1', 'A2', 'B1', 'B2', 'C1', 'C2'], @material.level), {}, { required: true, class: "form-control" } %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control', rows: "4" %>
  </div>
  <div class="field form-group">
    <%= f.label :link %><br>
    <%= f.text_field :link, required: true, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
