<div class="narrow-wrapper">
  <h2>Materials</h2>

  <% @materials.each do |material| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><%= material.title %>, Level: <%= material.level %></h4>
      </div>
      <div class="panel-body">
        <p><%= material.description %></p>
      </div>
      <div class="panel-footer">
        <a class="btn btn-primary" href="<%= material.link %>" role="button">Download</a>
        <a class="btn btn-default" href="<%= edit_material_path(material) %>" role="button">Edit</a>
        <%= link_to 'Delete', material, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default", role: "button" %>
      </div>
    </div>
  <% end %>
  <a class="btn btn-default" href="<%= new_material_path %>" role="button">Add New Material</a>
</div>