<p id="notice"><%= notice %></p>

<div class="materials-wrapper">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4 class="panel-title"><%= @material.title %>, Level: <%= @material.level %></h4>
	  </div>
	  <div class="panel-body">
	    <%= @material.description %>
	  </div>
	  <div class="panel-footer">
	    <a class="btn btn-default" href="<%= edit_material_path(@material) %>" role="button">Edit</a>
	  </div>
	</div>
	<a class="btn btn-primary" href="<%= materials_path %>" role="button">Materials</a>

</div>
