<h3>Testimonials</h3>

<% @testimonials.each do |testimonial| %>
  <h4><%= testimonial.student.full_name %></h4>
    <p><%= testimonial.content %></p>
    <td><%= link_to 'Show', testimonial %></td>
    <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
    <td><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<%= link_to 'New Testimonial', new_testimonial_path %>
